[Unit]
Description=MPD LastFM scrobble
After=sound.target Ftp.service mpd.service
Requires=Ftp.service

[Service]
Type=simple
ExecStart=/mnt/streaming/scurlbble/scurlbble
WorkingDirectory=/mnt/streaming/scurlbble
Restart=always
RestartSec=5
StartLimitInterval=60
StartLimitBurst=5

[Install]
WantedBy=multi-user.target



